/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/CalculaIdade/nbproject/private/
/CalculaIdade/build/
/CalculaIdade/dist/
/CalculaResto/nbproject/private/
/Resto/nbproject/private/
/Operadores/nbproject/private/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadoresSwing_1/nbproject/private/
/OperadoresSwing_1/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/LeitorPensamento/nbproject/private/
/LeitorPensamento/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/ParImpar/nbproject/private/
/ParImpar/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/Triangulo/nbproject/private/
/Triangulo/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/